<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover"/>
	<meta name="format-detection" content="telephone=no, address=no">
	<link href="../static/index.css?v=1" rel="stylesheet" type="text/css">
	<title>file</title>
</head>
<body>
<div>
    <button id="download" onclick="doClickHandler()">点我会跨域哦</button>
    <button id="download" onclick="doJSONPRequestClickHandler()">jsonp跨域</button>
    <button id="download" onclick="doCORSRequestClickHandler()">cors跨域</button>
    <button id="download" onclick="doNodeProxyRequestClickHandler()">nodejs中间件代理</button>
</div>
<!-- <script src="./"></script> -->
<!-- <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script> -->
<script type="text/javascript">
    let handleCallback = function(res) {
        console.log(res);
    }
    function doJSONPRequestClickHandler() {
        let script = document.createElement('script');
        script.src = 'http://123.57.68.108:8090/jsonp?callback=handleCallback';
        document.body.appendChild(script);
    }

    function doCORSRequestClickHandler() {
        let xhr = new XMLHttpRequest();
        xhr.open('get', 'http://123.57.68.108:8090/cors', true);
        xhr.send();
        xhr.onreadystatechange = function() {
            if(xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
            }
        }
    }

    function doNodeProxyRequestClickHandler() {
        let xhr = new XMLHttpRequest();
        xhr.open('get', 'http://localhost:8081/nodeproxy', true);
        xhr.send();
        xhr.onreadystatechange = function() {
            if(xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
            }
        }
    }

    function doClickHandler() {
        let xhr = new XMLHttpRequest();
        xhr.open('get', 'http://123.57.68.108:8090/test', true);
        xhr.send();
        xhr.onreadystatechange = function() {
            if(xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
            }
        }
    }

    // var socket = io('http://123.57.68.108:8090');

    // // 连接成功处理
    // socket.on('connect', function() {
    //     // 监听服务端消息
    //     socket.on('message', function(msg) {
    //         console.log('data from server: ---> ' + msg); 
    //     });

    //     // 监听服务端关闭
    //     socket.on('disconnect', function() { 
    //         console.log('Server socket has closed.'); 
    //     });
    // });

    // document.getElementsByTagName('input')[0].onblur = function() {
    //     socket.send(this.value);
    // };
    
</script>
</body>
</html>